
*.log

*.root

tests/MyTaskTest_Pythia6/stdout

tests/MyTaskTest_Pythia6/stderr

tests/MyTaskTest_Pythia6/outputs_valid

tests/MyTaskTest_Pythia6/lego_train_validation_merge\.sh

tests/MyTaskTest_Pythia6/lego_train_validation\.sh

tests/MyTaskTest_Pythia6/lego_train_merge\.sh

tests/MyTaskTest_Pythia6/lego_train_merge\.C

tests/MyTaskTest_Pythia6/lego_train\.sh

tests/MyTaskTest_Pythia6/lego_train\.C

*.pcm

*.so

*.d

*.dat

tests/MyTaskTest/stdout

tests/MyTaskTest/stderr

tests/MyTaskTest/outputs_valid

tests/MyTaskTest/lego_train_validation_merge\.sh
